*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Segoe UI",sans-serif;
}

body{

    background:
            radial-gradient(circle at top,#203a70,#08111d 60%);

    color:white;

    overflow-x:hidden;

    min-height:100vh;

}

.app{

    min-height:100vh;

    padding:40px;

}

.header{

    text-align:center;

    margin-bottom:40px;

}

.logoCircle{

    width:110px;
    height:110px;

    margin:auto;

    border-radius:50%;

    display:flex;

    align-items:center;

    justify-content:center;

    font-size:55px;

    background:rgba(255,255,255,.08);

    backdrop-filter:blur(20px);

    border:1px solid rgba(255,255,255,.15);

    box-shadow:

            0 0 20px #3b82f6,
            0 0 60px #8b5cf6;

    animation:floatLogo 4s ease-in-out infinite;

}

@keyframes floatLogo{

    0%{transform:translateY(0);}
    50%{transform:translateY(-10px);}
    100%{transform:translateY(0);}

}

.header h1{

    margin-top:20px;

    font-size:60px;

    letter-spacing:3px;

}

.header p{

    margin-top:10px;

    color:#b8d8ff;

    font-size:20px;

}

.mainButtonContainer{

    display:flex;

    justify-content:center;

    margin:50px 0;

}

.studyButton{

    width:420px;

    height:130px;

    border:none;

    border-radius:30px;

    background:

            linear-gradient(
                    135deg,
                    #2563eb,
                    #7c3aed
            );

    color:white;

    font-size:30px;

    font-weight:bold;

    cursor:pointer;

    transition:.25s;

    box-shadow:

            0 0 25px rgba(37,99,235,.6);

}

.studyButton:hover{

    transform:

            scale(1.05);

    box-shadow:

            0 0 50px #60a5fa;

}

.studyButton:active{

    transform:

            scale(.95);

}